@media screen and (max-width: 1124px) and (min-width: 992px) {
	.logo img {
	    width: 80%;
	}
	.req_list .req_content h3{
		font-size: 16px;
	}
	.req_list .req_content p{
		font-size: 13px;
	}
	.req_list .req_content h5{
		font-size: 11.5px;
	}
	.req_list .req_content h5::before{
		top: -1px;
		font-size: 10px;
	}
	/*.req_list {
	    margin-bottom: 25px;
	}*/
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.proposal-attach {
	    text-align: center;
	}
	.listings ul li {
 		padding-right: 12px;
	}
	.logo img {
	    width: 75%;
	}
	.wrk1_icon{
		height: 110px;
		width: 110px;
	}
	.wrk1_icon i::before {
	    font-size: 45px;
	    line-height: 110px;
	}
	.ch_wrk1 span{
		right: -2px;
	}
	.ch_wrk1 .wrk1_content h3{
		font-size: 16px;
	}
	.ch_wrk1 .wrk1_content p{
		font-size: 12px;
		line-height: 17px;
	}
	.flaticon-right-arrow::before{
		font-size: 26px;
	}
	.image_slider .slider_texts{
		top: 28%;
	}
	.slider_texts .text_wrap h1{
		font-size: 50px;
	}
}
@media screen and (max-width: 991px) {
	.proposal-buddel h5 {
	    font-size: 14px;
	}
	.proposal_content h4 {
	    font-size: 20px;
	}
	.proposal_content h6 {
	    font-size: 14px;
	}
	.proposal_det h5 {
		font-size: 16px;
	}
	.proposal_det table tr td {
	    font-size: 13px;
	}
	.proposal-attach {
	    margin-bottom: 15px;
	}
	p.desc_prop {
	    font-size: 14px;
	}
	.rating-star-rate {
	    width: 90%;
	}
	.mobile_bar {
		margin: 20px 0;
	}
	.proposal_prof img {
	    margin-bottom: 12px;
	}
	.page_request .row .col-lg-4:not(:nth-child(1)):not(:nth-child(2)) .req_list {
	    margin-top: 30px;
	}
	.none-991{
		display: none;
	}
	.req_search {
	    width: 100%;
	}
	.signin_page .login-box {
	    max-width: 550px;
	}
	.req_list, .start_list {
	    margin-bottom: 20px;
	}
	.foot_content {
	    margin-bottom: 30px;
	}
	.sidenav ul li {
	    display: list-item;
	    line-height: inherit;
    	text-align: left;
	}
	.sidenav ul li a {
	    color: #383636;
	    font-weight: 600;
	    font-size: 14px;
	    border-bottom: 1px solid #0000001a;
	    padding: 10px 15px;
	    text-transform: uppercase;
	    font-family: 'Montserrat';
	}
	.sidenav ul li a:hover{
		color: #76bb4c;
	}
	.sidenav ul li a::before, .sidenav ul li a::after{
		content: none;
	}
	.sidenav ul li:last-child a {
		border-bottom: none;
	    margin-top: 10px;
	    margin-right: 10px;
	    margin-left: 10px;
	    text-align: center;
	}
}
@media screen and (min-width: 768px) {
	.user_menu .ace-responsive-menu li ul.sub-menu{
	    position: absolute;
	    top: 45px;
	    left: 0;
	    display: none;
	    transition: .5s ease-out;
	    width: 160px;
	    z-index: 11;
	}
	.user_menu .ace-responsive-menu li:hover ul.sub-menu{
	    display: block;
	    transition: .5s ease-in;
	}
}
@media screen and (max-width: 767px) {
	.prop_status_page .ch_wrapper {
	    width: 90%;
	}
	.prop_status_page .breadcrumbs {
	    display: none;
	    margin: 0;
	}
	.prop_title {
		font-size: 18px;
	}
	ul.prop_action {
	    text-align: left;
	}
	ul.prop_action li {
		margin-bottom: 5px;
		/*display: list-item;*/
	}
	ul.prop_action li a {
		font-size: 12px;
	}
	h5.msg_thread, .message_right {
	    margin-top: 20px;
	}
	.ref_stats {
		margin-bottom: 20px;
	}
	.user_menu {
		height: auto !important;
	}
	.user_menu a.btn_navtog {
	    display: block;
	    color: #fff;
	    text-align: right;
	    font-size: 20px;
	    height: 45px;
	    line-height: 45px;
	    border-bottom: 1px solid #00000017;
	}
	.user_menu .ace-responsive-menu li ul.sub-menu {
		position: unset;
		width: 100%;
		display: none;
	}
	.user_menu .ace-responsive-menu li ul.sub-menu li a{
		padding-left: 30px;
	    background: #fff;
	    color: #37a7ec;
	}
	.user_menu a.btn_navtog:visited, .user_menu a.btn_navtog:focus, .user_menu a.btn_navtog:hover{
		color: #fff;
	}
	.user_menu a.btn_navtog span {
	    float: left;
	    font-size: 16px;
	}
	#respMenu {
		display: none;
	}
	
	.user_menu .ace-responsive-menu li {
	    display: list-item;
	}
	.user_menu .ace-responsive-menu li a {
		border-right: 0;
		border-bottom: 1px solid #39adff;
	}

	.ch_wrapper {
	    width: 95%;
	}
	.t_header {
	     height: auto !important; 
	}
	.t_header .logo img {
	    padding: 5px 0;
	}
	.t_header .user_head {
		margin-bottom: 10px !important;
		margin-top: 10px !important;
	}
	.gigs_page .col-md-4 {
		margin-top: 20px;
	}
	.user_profile .pro_title {
		height: 150px;
	}
	.user_profile .profile_det {
		width: 100%;
	}
	.profile_det .prof_img img {
	    width: 150px;
	    height: 150px;
	    display: block;
	    margin: 0 auto;
	}
	ul.prof_social {
	    margin-top: 10px;
	}
	.prof_title {
	    margin: 30px 0 0 0;
	}
	.prof_interest ul li {
		font-size: 13px;
	}
	.last-list .last-rating li {
		font-size: 13px;
	}
	.list-content {
		font-size: 15px;
	}
	.req_sidebar h4{
		margin-top: 20px;
	}
	.search_filter {
	    margin-bottom: 25px;
	}
	.logo img {
	    width: 100%;
	}	
	.image_slider .slider_texts{
		top: 27%;
	}
	.slider_texts .text_wrap h1{
		font-size: 38px;
	}
	.slider_texts .text_wrap p {
	    font-size: 16px;
	}
	.btn_fill_green, .btn_border{
		font-size: 15px;
	}
	.image_slider img{
		height: 450px;
	}
	.ch_wrk1 {
	    margin-bottom: 30px;
	}
	.ch_works .tab-content .row .col-sm-6 {
	    padding-right: 15px !important;
	    padding-left: 15px !important;
	}
	.ch_works .tab-content .row .col-sm-6.flaticon-right-arrow::before {
		content: none;
	}
	.ch_wrk1 span {
	    right: -3px;
	    height: 34px;
	    width: 34px;
	    line-height: 31px;
	}
}
@media screen and (max-width: 650px) and (min-width: 576px){
	.proposal-attach {
		margin: 0;
	}
	.mobile_bar {
	    font-size: 25px;
	    line-height: 70px;
	}
}
@media screen and (max-width: 575px){
	.proposal-attach {
		text-align: center;
		margin-bottom: 5px;
	}
	.proposal-action {
		text-align: center !important;
		margin-bottom: 5px;
	}
	.filter__show {
		display: none;
	}
	.user_head {
	    margin-top: 0 !important;
	}
	.prof_title h2 {
	    font-size: 24px;
	}
	.prof_title ul li label {
		width: 40%;
	}
	.t_header .logo img {
	    width: 100% !important;
	}
	.mobile_bar {
	     margin: 0 !important; 
	}
	.title-list h2 a {
	    font-size: 20px;
	}
	.req_features > li {
		margin-bottom: 5px;
	}
	.req_detail .req_image img{
		height: auto;
	}
	.req_sidebar .submit_gig input{
		width: 100%;
	}
	.image_slider .slider_texts {
	    top: 20%;
	}
	.page_request .row .col-lg-4:not(:nth-child(1)) .req_list {
	    margin-top: 30px;
	}
	.site_cookies p{
		font-size: 13px;
		padding: 10px;
	}
	a.cookie_close{
		font-size: 12.5px;
	}
	.mobile_bar {
	    font-size: 25px;
	    line-height: 45px;
	}
	.main_head header.header{
		position: unset;
	}
	.logo img {
	    width: 65%;
	    padding: 15px 0;
	}
	.mobile_bar{
		color: #383636;
	}
	.sidenav .logo_mobile img {
	    width: 90% !important;
	}
	.ch_wrk1 .wrk1_content h3 {
	    margin-bottom: 3px;
	}
	.testi_list img {
	    height: 120px;
	    width: 120px !important;
	}
	.testi_list p{
		padding: 0 5%;
	}
	.testi_list{
		margin-bottom: 20px;
	}
	.mob_abs{
		position: relative;
		padding-right: 0;
	}
	.mob_abs .user_head {
	/*	position: absolute;
    	right: 0;*/
	}
	.mob_abs .user_head .input-group {
		/*opacity: 0;*/
	}	
	.button_smobile {
		display: block;
	    position: fixed;
	    z-index: 99;
	    bottom: 0;
	    width: 100%;
	    background: #eee;
	    border-top: 1px solid #ccc;
	    padding: 10px 5px;
	}
	.button_smobile ul li {
	    display: inline;
	    width: 100%;
	}
	.button_smobile ul {
	    display: flex;
	}
	.button_smobile ul li:first-child a {
		background: #3095d4;
		color: #fff;
		display: block;
		padding: 10px 5px;
		text-align: center;
	}
	.button_smobile ul li:last-child a {
		background: #56a92c;
		color: #fff;
		display: block;
		padding: 10px 5px;
		text-align: center;
	}
	.button_smobile ul li a {
	    color: #383636;
	    font-size: 15px;
	}
	.button_smobile ul li a:hover{
		background: #ccc;
	}
	html{
		scroll-behavior: smooth;
	}
}
@media screen and (max-width: 425px) {
	.rating-star-rate {
	    width: 100%;
	}
	.gig_det h5, .gig_det .table thead th {
		font-size: 14px;
	}
	.addGig label {
		width: 100%;
		text-align: left;
		font-size: 14px;
	}
	.addGig select, .addGig input, .addGig textarea {
		width: 100%;
		font-size: 14px;
	}
	.addGig .col-12 {
	    margin-bottom: 5px;
	}
	.addGig .gig_submit input[type=submit] {
		width: 30%;
	}
	.gigs_info .nav-tabs li a.nav-link {
	    padding: .5rem 1rem;
	}
	.gigs_info .nav-tabs li a.nav-link span {
	    display: none;
	}
	.req_detail .req_head {
	    padding: 15px 10px;
	}
	.last-list .last-rating {
		display: unset !important;
	}
	.last-list .last-rating li {
		padding: 5px 15px;
		border-right: none;
	}
	p.desc_prop {
	    font-size: 14px;
	}
	.req_sidebar .seller_info img {
	    width: 30%;
	}
	.req_sidebar .seller_info h3{
		font-size: 18px;
	}
	.proposal_summ > ul li {
		padding: 7px;
		font-size: 14px;
	}
	p.sub_date span {
	    padding: 5px;
	    font-size: 15px;
	}
	.req_detail .req_head h1 {
	    padding-right: 0;
	    padding-top: 50px;
	}
	.req_detail .req_head h1 span {
    	top: 0;
	    left: 0;
	    right: auto;
	}
	.signin_page .login-inner-form .details {
	    padding: 30px 30px;
	}
	.slider_texts .text_wrap h1 {
	    font-size: 32px;
	}
	.slider_texts .text_wrap p {
	    font-size: 15px;
	}
	.slider_text_btn {
		text-align: center;
		margin: 0 40px;
	}
	.btn_border, .btn_fill_green{
		font-size: 14px;
		display: block;
		width: 100%;
	}
	.btn_border{
		margin-right: 0;
		margin-bottom: 7px;
		font-size: 15px;
	}
	.btn_fill_green{
		margin-left: 0;
		margin-top: 7px;
	}
	.logo img {
	    width: 65%;
	}
	.image_slider .slider_texts {
	    top: 22%;
	}
	.sidenav ul li a{
		font-size: 13px;
	}
}
@media screen and (max-width: 375px) {
	.proposal-attach a {
		display: block;
	}
	.gigs_info .nav-tabs li a.nav-link {
	    padding: .5rem !important;
	    font-size: 13px;
	}
	.logo img {
	    width: 75% !important;
	}
	.prof_title h2 {
	    font-size: 20px !important;
	}
	.prof_title ul li label {
		width: 35%;
	}
}